<p id="notice"><%= notice %></p>

<h1>Companies</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Employee count</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @companies.each do |company| %>
    <div class="row">
      <tr>
        <td class="col-2"><%= company.name %></td>
        <td class="col-2"><%= company.employee.size %></td>
        <td class="btn btn-primary"><%= link_to 'Show', company, {:style=>'color:#000000;', :class => "css_class"} %></td>
        <td class="btn btn-secondary"><%= link_to 'Edit', edit_company_path(company), {:style=>'color:#000000;', :class => "css_class"} %></td>
        <td class="btn btn-danger"><%= link_to 'Destroy', company, method: :delete, style: 'color:#000000;', class: 'css_class', data: { confirm: 'Are you sure?' } %></td>
      </tr>
      </div>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Company', new_company_path %>
