<%= form_with(model: call_log, local: true) do |form| %>
  <% if call_log.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(call_log.errors.count, "error") %> prohibited this call_log from being saved:</h2>

      <ul>
      <% call_log.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :to_id %>
    <%= form.text_field :to_id %>
  </div>

  <div class="field">
    <%= form.label :from_id %>
    <%= form.text_field :from_id %>
  </div>

  <div class="field">
    <%= form.label :start %>
    <%= form.datetime_select :start %>
  </div>

  <div class="field">
    <%= form.label :end %>
    <%= form.datetime_select :end %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
